# originally generated on %%timestamp%% by %%app name%%

module Markus
  module Migrate
    class YourTransform < Migrate
      def initialize
        
        # with_rows_matching_pattern below is for "pre-processing" the CSV file before it is transformed
        @with_rows_matching_pattern = [
          # skip blank rows
          {:pattern => /^,*$/,       :action => :skip}, 
          
          # if the first field is used as a section header, flatten it into a data field for all following rows
          {:pattern => /^([^,]+),*/, :flatten_to => 'new_field_name'}

          
          # indicate which line number indicates the field names
          {:line_number => 3, :action => :is_field_names },
          {:line_number => 44, :action => :skip }
        ]
        
        @pipeline = [
          :xml_model_to_xml_stub_file,
          :csv_to_existing_xml_document
        ]
        
      end
    end
  end
end

Markus::Migrate::YourTransform.new.cliRun if $PROGRAM_NAME == __FILE__