#!/usr/bin/env ruby
# THIS FILE IS PRETTY USELESS AT THIS POINT! MOST OF THE below options are 
# either obsolete or provided by command-line arguments.

# originally generated on %%timestamp%% by %%app name%%
require 'markus/migrate/migrate'
module Markus
  module Migrate
    class YourTransform < Migrate
      def initialize
        super
        # withRowsMatchingPattern below is for "pre-processing" the CSV file before it is transformed
        @withRowsMatchingPattern = [
          # skip blank rows
          {:pattern => /^,*$/,       :action => :skip}, 
          
          # if the first field is used as a section header, flatten it into a data field for all following rows
          { :pattern => /^([^,]+),*/, 
            :action => :flatten_section_name_to_field_value,
            :field_name => :your_name_here
          },
           
          # indicate which line number indicates the field names
          {:line_number => 3, :action => :is_field_names },
          {:line_number => 44, :action => :skip }
        ]
        
        @pipeline = [
          :xml_model_to_xml_stub_file,
          :csv_to_existing_xml_document
        ]
        
      end
    end
  end
end

Markus::Migrate::YourTransform.new.cli_run if $PROGRAM_NAME == __FILE__